/download/
/uploads/
/nomusic/
/pretrained_models/
/patrolne/
/spleeter_out/
/demucs_out/
/_temp/
/_processing_intermediates/
.ENV
uv.lock
GEMINI.MD
.venv
/src/
/__pycache__/
/modules/__pycache__/
library.json
*.exe
*.mp4
*.mp3
*.mkv
*.aac
*.webm